/*variables*/
:root {
    --color-fondo: #93b4c6;
    --botones: #e7dfd8;
    --fondo-barras: #d9d9d9;
    --avance-barras: #a6a6a6;
}

/*menú hamburguesa*/
header {
  background: #50afe2;
  color: var(--color-fondo);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2000;
  padding: 0 1rem;
  min-height: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff9800;
}

/* Botón hamburguesa */
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

  .nav-links {
    display: none;
    flex-direction: column;
    background: var(--color-fondo);
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    padding: 1rem;
    z-index: 1000;
  }

  .nav-links.show {
    display: flex;
  }

body { 
  background-color: var(--color-fondo); 
  margin: 0;
  padding-top: 100px;
}

/*barras interactivas*/
.progress-group {
  margin-bottom: 30px;
}

.progress-container {
  width: 80%;
  height: 30px;
  background: var(--fondo-barras);
  border-radius: 15px;
  overflow: hidden;
  margin: 10px auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.progress-bar {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, var(--avance-barras), var(--avance-barras));
  text-align: center;
  line-height: 30px;
  color: black;
  font-weight: bold;
  border-radius: 15px 0 0 15px;
  transition: width 0.4s ease-in-out;
}

button {
  margin: 5px;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: var(--botones);
  color: black;
  transition: background 0.3s;
}

button:hover {
  background: rgb(132, 132, 209);
}